body {
  background-image: #FDF5E6;
  /*border: 5px solid #FDF5E6;*/
  margin: 5px;
  padding-left: 0px;
  padding-top: 0px;
  padding-bottom: 0px;
}
.blog-title {
  background-color: #3F51B5;
  border-bottom: 3px solid #3F51B5;
  font-style: italic;
  font-family: cursive;;
  text-align: center;
  font-size: 44px;
  color: #FFFFFF;
  margin-top: 0px;
}
.sailboat-image1 {
  position: absolute;
  height: 69px;
  left: 10px;
}
.sailboat-image2 {
  position: absolute;
  height: 69px;
  left: 1862px;
}
#header-body{
  text-align: center;
}

.about-me a {
  text-decoration: none;
}

.section {
  background-color: lightgrey;
}

#flux-diagram {
  width: 30%;
  height: 30%;
}

.content {
  margin-left: 100px;
  margin-right: 100px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 40;
  overflow: hidden;
  position:absolute;
}
li {
  float: left;
  font-size: 20px;
  margin-top: 30px;

}
li a {
  display: block;
  padding: 14px 16px;
  color: #FFFFFF;
  padding: 15px;
  text-decoration: none;
  text-align: center;
  font-size: 100;
}
a:hover {
  color: red;
}

h3 {
  text-align: center;
  margin-left: 150px;
  margin-right: 150px;
}

p {
  padding-left: 150px;
  padding-right: 150px;
}

.footer_table {
  color: #FFFFFF;
  border-bottom: 3px solid #3F51B5;
}
.footer_data {
  color: #FFFFFF;
}

#little-blue-sailing {
  size: 100px
}
p {
  font-size: 20px;
}

#homepage-title {
  text-decoration: none;
  color: #333;
  font-family: cursive;
}
#homepage-title:hover {
  color: red;
}
#homepage-date {
  font-family: cursive;
}
#blogpost-title {
  color: #FFFFFF;
  font-family: cursive;
}
#blogpost-date {
  color: #333;
  font-family: cursive;
  border-bottom: 2px solid grey;
}
